
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Bienvenidos al sitio de Joel Di Rosa</h4>
    <br />

    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        <tbody>
            <tr>
                <td>Lautaro</td>
                <td>Munguía</td>
            </tr>
        </tbody>
    </table>
</div>

